In [14]:
import pandas as pd

file_path = r"data\origin_data\均一性测试-3\20250712\24r 10min\20250712_24r10min.xlsx"
df1 = pd.read_excel(file_path)
df1.head()

,timestamp,flow_rate_inlet,flow_rate_outlet,pressure_inlet,pressure_outlet,rotation_speed,temp_barrel_bottom,temp_barrel_side,temp_inlet,temp_outlet,torque,vacuum
0,12/7/2025 10:28:13,0.153573,0.000000,2.241012,2.251966,0.000,26.84165,29.50000,25.97070,25.81370,0.00000,0.213559
1,12/7/2025 10:28:19,10.977490,9.187988,3.803512,2.000898,28.000,26.83555,29.57147,25.97574,25.77575,9.43750,-13.295830
2,12/7/2025 10:28:26,8.860126,7.336334,3.069137,1.617637,25.000,26.83555,29.51361,25.94380,25.77744,7.68750,-50.445530
3,12/7/2025 10:28:33,8.696076,7.051185,3.131637,1.656165,24.875,26.84165,29.55267,25.91566,25.66805,7.53125,-68.939880
4,12/7/2025 10:28:39,8.004639,6.367561,3.007705,1.523887,23.250,26.83555,29.61127,25.92780,25.80567,7.68750,-80.464290

In [15]:
len(df1)

468

In [16]:
file_path = r"data\origin_data\均一性测试-3\20250712\24r 15min\20250712_24r15min.xlsx"
df2 = pd.read_excel(file_path)
df2.head()

,timestamp,flow_rate_inlet,flow_rate_outlet,pressure_inlet,pressure_outlet,rotation_speed,temp_barrel_bottom,temp_barrel_side,temp_inlet,temp_outlet,torque,vacuum
0,12/7/2025 13:24:31,0.161388,0.000000,1.499000,1.512239,0.000,27.10704,29.62500,29.75000,28.25126,0.0000,0.042845
1,12/7/2025 13:24:40,9.149088,7.141088,2.667739,0.946991,22.500,27.10093,29.74133,29.78660,28.26772,9.0000,-35.360590
2,12/7/2025 13:24:47,9.153017,6.996346,2.756147,1.027329,22.625,27.10093,29.68668,29.85821,28.26772,9.1250,-61.622800
3,12/7/2025 13:24:54,9.903055,7.074496,2.908125,1.137773,24.250,27.10093,29.69061,29.86001,28.34984,9.5625,-77.270020
4,12/7/2025 13:25:07,10.227260,7.828401,2.853103,1.126619,24.250,27.10093,29.72382,29.86656,28.54617,9.3750,-90.867680

In [17]:
# 将df1和df2合并成一个DataFrame
df_combined = pd.concat([df1, df2], ignore_index=True)
df_combined.head()

,timestamp,flow_rate_inlet,flow_rate_outlet,pressure_inlet,pressure_outlet,rotation_speed,temp_barrel_bottom,temp_barrel_side,temp_inlet,temp_outlet,torque,vacuum
0,12/7/2025 10:28:13,0.153573,0.000000,2.241012,2.251966,0.000,26.84165,29.50000,25.97070,25.81370,0.00000,0.213559
1,12/7/2025 10:28:19,10.977490,9.187988,3.803512,2.000898,28.000,26.83555,29.57147,25.97574,25.77575,9.43750,-13.295830
2,12/7/2025 10:28:26,8.860126,7.336334,3.069137,1.617637,25.000,26.83555,29.51361,25.94380,25.77744,7.68750,-50.445530
3,12/7/2025 10:28:33,8.696076,7.051185,3.131637,1.656165,24.875,26.84165,29.55267,25.91566,25.66805,7.53125,-68.939880
4,12/7/2025 10:28:39,8.004639,6.367561,3.007705,1.523887,23.250,26.83555,29.61127,25.92780,25.80567,7.68750,-80.464290

In [18]:
len(df_combined)

1055

In [19]:
#将df_combined去掉timestamp列
if 'timestamp' in df_combined.columns:
    df_combined = df_combined.drop(columns=['timestamp'])

In [20]:
df_combined.head()

,flow_rate_inlet,flow_rate_outlet,pressure_inlet,pressure_outlet,rotation_speed,temp_barrel_bottom,temp_barrel_side,temp_inlet,temp_outlet,torque,vacuum
0,0.153573,0.000000,2.241012,2.251966,0.000,26.84165,29.50000,25.97070,25.81370,0.00000,0.213559
1,10.977490,9.187988,3.803512,2.000898,28.000,26.83555,29.57147,25.97574,25.77575,9.43750,-13.295830
2,8.860126,7.336334,3.069137,1.617637,25.000,26.83555,29.51361,25.94380,25.77744,7.68750,-50.445530
3,8.696076,7.051185,3.131637,1.656165,24.875,26.84165,29.55267,25.91566,25.66805,7.53125,-68.939880
4,8.004639,6.367561,3.007705,1.523887,23.250,26.83555,29.61127,25.92780,25.80567,7.68750,-80.464290

In [21]:
#将df_combined转置
df_combined_transposed = df_combined.T
df_combined_transposed.head()
#将df_combined_transposed保存为csv文件
output_file_path = r"data\origin_data\uniformity_test3.csv"
df_combined_transposed.to_csv(output_file_path, index=False, header=False)