In [16]:
import pandas as pd

file_path = r"C:\Users\yusei\Workspace\异常检测\MSCRED\data\origin_data\3sysn_fore.csv"
df1 = pd.read_csv(file_path)
df1.head()

,timestamp,flow_rate_inlet,flow_rate_outlet,pressure_inlet,pressure_outlet,rotation_speed,temp_barrel_bottom,temp_barrel_side,temp_inlet,temp_outlet,torque,vacuum
0,18:56:20,0.176523,0.0,2.339538,0.486587,12.1875,56.40459,60.90839,47.98143,47.25275,8.7500,-99.11025
1,18:56:20,0.176401,0.0,2.355163,0.498306,12.1875,56.40459,60.96307,47.98143,47.25275,8.6875,-99.11025
2,18:56:21,0.175973,0.0,2.370788,0.494400,12.6875,56.40459,60.75610,47.98143,47.25275,8.8125,-99.11025
3,18:56:21,0.176156,0.0,2.339538,0.500518,12.6875,56.40459,60.89673,47.98753,47.25275,8.8750,-99.11025
4,18:56:21,0.176217,0.0,2.339538,0.500518,12.6875,56.39849,60.93970,47.98753,47.25275,8.9375,-99.09805

In [17]:
len(df1)

9590

In [18]:
#将df_combined去掉timestamp列
if 'timestamp' in df1.columns:
    df1 = df1.drop(columns=['timestamp'])

In [19]:
df1.head()

,flow_rate_inlet,flow_rate_outlet,pressure_inlet,pressure_outlet,rotation_speed,temp_barrel_bottom,temp_barrel_side,temp_inlet,temp_outlet,torque,vacuum
0,0.176523,0.0,2.339538,0.486587,12.1875,56.40459,60.90839,47.98143,47.25275,8.7500,-99.11025
1,0.176401,0.0,2.355163,0.498306,12.1875,56.40459,60.96307,47.98143,47.25275,8.6875,-99.11025
2,0.175973,0.0,2.370788,0.494400,12.6875,56.40459,60.75610,47.98143,47.25275,8.8125,-99.11025
3,0.176156,0.0,2.339538,0.500518,12.6875,56.40459,60.89673,47.98753,47.25275,8.8750,-99.11025
4,0.176217,0.0,2.339538,0.500518,12.6875,56.39849,60.93970,47.98753,47.25275,8.9375,-99.09805

In [20]:
#将df_combined转置
df_1_transposed = df1.T
df_1_transposed.head()
#将df_combined_transposed保存为csv文件
output_file_path = r"data\test_at91_foreignobject.csv"
df_1_transposed.to_csv(output_file_path, index=False, header=False)

In [21]:
#读取train_at91，查看行列长度
df_check = pd.read_csv(output_file_path, header=None)
len(df_check), len(df_check.columns)

(11, 9590)